<%= form_for(@quote) do |f| %>
    <% if @quote.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

          <ul>
            <% @quote.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :base %><br>
      <%= f.text_field :base, :value => '150000' %>
    </div>
    <div class="field">
      <%= f.label :markup %><br>
      <%= f.text_field :markup, :value => '15000' %>
    </div>
    <div class="field">
      <%= f.label :tax %><br>
      <%= f.text_field :tax, :value => '7095' %>
    </div>
    <div class="field">
      <%= f.label :total %><br>
      <%= f.text_field :total, :value => 'Calculated' %>
    </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.check_box :status %>
    </div>
    <div class="field">
      <%= f.label :inventory_id %><br>
      <%= f.collection_select :inventory_id, Inventory.all, :id, :color %>
    </div>

    <div class="field">
      <%= f.label :staff_id %><br>
      <%= f.collection_select :staff_id, Staff.all, :id, :lname %>
    </div>
    <div class="field">
      <%= f.label :customer_id %><br>
      <%= f.collection_select :customer_id, Customer.all, :id, :lname %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
