<%= form_for(@showroom) do |f| %>
  <% if @showroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@showroom.errors.count, "error") %> prohibited this showroom from being saved:</h2>

      <ul>
      <% @showroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
