#encoding: UTF-8

<div id="header">
  <h1>Beachnight Automotives</h1>
  <h3>Twin engine Dune Buggies for the 21st Century</h3>
</div>

<div id="nav">
  <table border="1" style="width:100%">
    <tr>
      <th colspan="5">Navigation</th>
    </tr>
    <tbody>
    <tr>
      <td>Showroom</td>
      <td>Sales Staff</td>
      <td>Finance Manager</td>
      <td>Inventory Manager</td>
      <td>Sales Manager / Owner</td>
    </tr>
    <tr>
      <td><%= link_to 'Meet the 2003', showrooms_path %><br><%= link_to 'Peugeot Hoggar', showrooms_path %></td>
      <td><%= link_to 'Search & Manage Customers', customers_path %><br><%= link_to 'View Inventory', inventories_path %><br><%= link_to 'View Quotes & Finalize Sales', quotes_path %></td>
      <td><%= link_to 'Show breakdown of interest and', loans_path %><br><%= link_to 'principal for all loan payments', loans_path %></td>
      <td><%= link_to 'Manage Inventory', inventories_path %></td>
      <td><%= link_to 'Manage Employees', staffs_path %><br><%= link_to 'Management Sales Reports', quotes_path %></td>
    </tr>
    </tbody>
  </table>
</div>

<div id="section">
  <iframe width="420" height="315" src="https://www.youtube.com/embed/JNEwBA_FbS0" frameborder="0" allowfullscreen></iframe>
</div>

<div id="article">
  <br><br><br><br>
  <h2>What is the Peugeot Hoggar?</h2>
  <p>Resembling an imposing 2-seater buggy, the Peugeot Hoggar looks avant-garde and unreal at first sight. Vast open spaces spring to mind, easily accessible to judge from the car's robustness and latent power. Getting there would be an even more pleasing and relaxing prospect in the knowledge that this concept car relies on unique and proven HDi engineering solutions, enhanced by original technology, such as the adoption of two power trains and appropriate wheels and suspension.</p>
  <p>In elevation, the Hoggar has no overhang, thereby offering a highly compact volume with condensed proportions. The front wing rises over the tyre and falls back gently, before rising again abruptly at the rear wheel. This creates a general profile that is both elegant and dynamic and which, combined with the rear projection, expresses the strength and robustness of a crouching animal ready to pounce.</p>
  <p>The Hoggar is a sports car for extreme conditions, with two seats and two up to the minute power trains deployed transversally, one at the front, the other at the rear, giving it the attributes of a 4-wheel drive vehicle. At the front of the carbon structure, as at the rear, there is a tubular sub-frame designed to support each power train. Attached to the carbon shell at six points at the front and four at the rear, these tubular frames also accommodate all suspension fittings, including the double wishbones. Both radiators are set well back at windscreen level to reduce the length of the front overhang. While the radiators are common to both engines, the one on the right features a low temperature loop to cool the intake air. Air from outside is captured at the front of the vehicle and is supplied to the radiators through a conduit incorporated in the bonnet lining.</p>
  <p>Each ML 6C gearbox is driven by electrically-controlled hydraulic actuators. The sequential gear change operates by means of control plates under the steering wheel or a lever on the central console. A fully automatic mode is also available. The Hoggar can of course be driven with only one of its two power trains. The suspension of this concept car features double wishbones at the front and rear. Each axle is equipped with an anti-roll bar.</p>
  <p>  On board this ultra high-tech open-air vehicle, natural leather and aluminium feature strongly. Two people can sit in the one-piece, cast light-alloy seats, which have leather upholstery. Each occupant is secured by a safety belt, a true four-point harness connected to four small inertia reels. The fascia panel features two central rev counters, the left-hand one for the front engine and the right-hand one for the rear engine.</p>
  <p>The Peugeot Hoggar is a concept car produced by Peugeot. It is a two-seater off-road vehicle, powered by two diesel engines that drive the front and rear wheels in a four wheel drive configuration. The car principally consists of a one-piece carbon honeycomb body reinforced by two upper longitudinal roll-over bars completed from stainless steel, each with a diameter of 76 mm (3.0 in). These tubes also serve as an air intake and air conduit to the front engine (left-hand tube) and rear engine (right-hand tube). Both engines displace 2168 cc and    produces power of around 180 bhp (134 kW). The two engines consequently supply a collective power of nearly 360 bhp (268 kW) and a maximum torque of 800 Nm (590 lbft).</p>
</div>

<br><br><br><br>
<div id="gallery">
  <h2>Gallery - 2003 Peugeot Hoggar</h2>
  <%= image_tag "PH1.jpg",:size => "300x220", :title => 'Peugeot Hoggar' %>  <%= image_tag "PH2.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH3.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH4.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH6.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH7.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH8.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH9.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH10.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH11.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH12.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH13.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>
</div>

<div id="footer">
  <h5 class="copyright">Created by: <a href="mailto:jwcarter2@uh.edu">James Carter</a>.  CIS4339 - Enterprise Applications Development.  Instructor: Keith C Lancaster.</h5>
</div>

