<%= form_for(@loan) do |f| %>
    <% if @loan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

          <ul>
            <% @loan.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :"term:_3,_4,_or_5_Years" %><br>
      <%= f.number_field :term, :value => '3, 4, or 5 years' %>
    </div>
    <div class="field">
      <%= f.label :amount_Financed %><br>
      <%= f.text_field :price, :value => '172095.' %>
    </div>
    <div class="field">
      <%= f.label :interest_Rate %><br>
      <%= f.text_field :irate, :value => '.0429' %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<div id = "loan_table" class = "table-format"></div>