<table class="CSSTableGenerator" width="30%">
  <th>Payment #</th>
  <th>Balance Remaining</th>
  <th>Payment Amount</th>
  <th>Payment Principal</th>
  <th>Payment Interest</th>

  <%counter=0%>
  <% @loan_array.each_with_index do |p,n|  %>
      <tr>
        <td><%= n+1 %></td>
        <td><%= number_to_currency(p.round(2)) %></td>
        <td><%= number_to_currency(Loan.payment.round(2)) %></td>
        <td><%= number_to_currency(Loan.principal_paid.round(2))%></td>
        <td><%= number_to_currency(Loan.interest_paid.round(2))%></td>
      </tr>
      <%counter+=1%>
  <% end %>

</table>