#encoding: UTF-8

<div id="header">
  <h1>Beachnight Automotives</h1>
  <h3>Twin engine Dune Buggies for the 21st Century</h3>
</div>

<div id="nav">
  <table border="1" style="width:100%">
    <tr>
      <th colspan="5">Navigation</th>
    </tr>
    <tbody>
    <tr>
      <td>Showroom</td>
      <td>Sales Staff</td>
      <td>Finance Manager</td>
      <td>Inventory Manager</td>
      <td>Sales Manager / Owner</td>
    </tr>
    <tr>
      <td><%= link_to 'Meet the 2003', showrooms_path %><br><%= link_to 'Peugeot Hoggar', showrooms_path %></td>
      <td><%= link_to 'Search / Manage Customers', customers_path %><br><%= link_to 'View Inventory', inventories_path %><br><%= link_to 'View Quotes / Finalize Sales', quotes_path %></td>
      <td><%= link_to 'Show breakdown of interest and', loans_path %><br><%= link_to 'principal for all loan payments', loans_path %></td>
      <td><%= link_to 'Manage Inventory', inventories_path %></td>
      <td><%= link_to 'Manage Employees', staffs_path %><br><%= link_to 'Management Sales Reports', quotes_path %></td>
    </tr>
    </tbody>
  </table>
</div>

<div id="aside">
  <h2>Loan Management</h2>
  <%= link_to 'Calculate New Loan', new_loan_path %>
</div>

<div id="article">

<table>
  <thead>
  <tr>
    <th>Term in Years</th>
    <th>Amount Financed</th>
    <th>Interest Rate</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.term %></td>
        <td><%= number_to_currency(loan.price) %></td>
        <td><%= number_to_percentage(loan.irate * 100, precision: 1) %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</div>

<br><br><br><br>
<div id="gallery">
  <h2>Gallery - 2003 Peugeot Hoggar</h2>
  <%= image_tag "PH1.jpg",:size => "300x220", :title => 'Peugeot Hoggar' %>  <%= image_tag "PH2.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH3.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH4.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH6.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH7.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH8.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH9.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH10.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH11.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH12.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>  <%= image_tag "PH13.jpg",:size => "300x220",:title => 'Peugeot Hoggar' %>
</div>

<div id="footer">
  <h5 class="copyright">Created by: <a href="mailto:jwcarter2@uh.edu">James Carter</a>.  CIS4339 - Enterprise Applications Development.  Instructor: Keith C Lancaster.</h5>
</div>