

#header {
    background-color:#00101E;
    color:#EFEFFF;
    width:100%;
    text-align:center;
    vertical-align: middle;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:black;
    color:#EFEFFF;
    height:120px;
    width:100%;
    float:left;
    margin: 0px 0px 20px 0px;
    padding:5px;
}
#aside {
    padding-bottom: 10px;
    padding-left: 10px;
    width:100%;
    color:#EFEFFF;
    background-color:#001F3D;
    text-align:left;
    vertical-align: Bottom;
}
#actions {
    padding: 20px;
    width:100%;
    background-color:#001F3D;
    text-align:left;
    vertical-align: middle;
}

#section {
    background-color:#001F3D;
    text-align:center;
    vertical-align:middle;
    float:left;
    margin: 0px 20px 10px 0px;
    padding:40px;
}

#article {
    background-color:white;
}
#gallery {
    background-color:#00101E;
    color:#EFEFFF;
    width:100%;
    text-align:center;
    vertical-align:middle;
    float:left;
    padding:40px;
}

#footer {
    background-color:#001F3D;
    color:white;
    clear:both;
    text-align:center;
    vertical-align: bottom;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
html {
    /*background: url(../assets/images/bg.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* unvisited link CornflowerBlue*/
a:link {
    color: #6495ED;
}

/* visited link CornflowerBlue*/
a:visited {
    color: #6495ED;
}

/* mouse over link Titan White*/
a:hover {
    color: #EFEFFF;
}

/* selected link CornflowerBlue*/
a:active {
    color: #6495ED;
}

td, th {
    font-size: 1em;
    border: 1px solid #66798B;
}

th {
    font-size: 1.1em;
    text-align: center;
    background-color: black;
    color: #ffffff;
}

tr.alt td {
    color: #001F3D;
    background-color: #001F3D;
}
img {
    display: inline-block;
}